@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    border: 1px solid green;
    border-radius: 10px;
    background-color: rgb(0, 255, 42);
    text-align: center;
    padding: 6px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}

#tasks {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
  }